<!DOCTYPE HTML>
<html>
 <head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8">
   <title>Example
   </title>
   <link rel="stylesheet" href="{{ url_for('static', filename='sr.css') }}">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  </head>
  <body>
    <div style="height: 33%; background-color: #f7f5f5;">
      <br>
        <h1>Роман Гослингов</h1>
        <p> Новый кандидат в президенты России 2024</p>
        <P>
            Простой уроженец Омска. Прославился благодаря своей работе таксистом.
            Где его чуть не посадили по ложному обвинению в убийстве.</P>
        <p> Скрываясь от преследования он
            чуть не умер. Но позже выяснилось что он выжил.</p>
        <p>Так же с ним произошло много других историй достойных нескольких книг (или фильмов))) </p>
        <p> Роман, как человек из народа. Приведёт нашу страну к подлинному величию.</p>
        <p>Он так же является настоящим патриотом своей страны.
        И никогда её не предаст и не продаст</p>
        <p>ГОЛОСУЙТЕ ЗА РОМАНА!!!! ДАЁШЬ ВЕЛИКУЮ РОССИЮ</p>
        <div class="mx-auto" style="width: 300px;">
          <a href="https://chng.it/9JbHYmkXfy" class="btn btn-success"> Если вы согласны то нажмите сюда</a>
        </div>
      <br>
    </div>
    <div style="height: 33%; background-color: #1f46f2;">
      <img src="{{ url_for('static', filename='bomg.jpeg') }}" class="center"></img>
    </div>
    <div style="min-height: 33%; background-color: #de070e;">
        <p>H</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
   </body>
</html>
<!--Да не умер он в конце правления-->